.top-img {
    height: 100dvh;
    background: url(../images/bac.jpg) center center/cover no-repeat;
    background-attachment: fixed;
}

@media (width < 900px ) {
    .top-img {
        background-position: left;
    }
}

header.felx {
    justify-content: space-between;
    padding-inline: 10%;
    padding-top: 1.2rem;
}

header.felx .Sign-in {
    margin-inline: 1rem;
}

header.felx .cart,
header.felx .Sign-in,
header.felx .register {
    border: 1px solid black;
    padding: 0.44rem 1rem;
    border-radius: 55px;
    font-size: 0.8rem;
    font-weight: 500;
    align-items: center;
}

header.felx .cart,
header.felx .Sign-in:hover,
header.felx .register:hover {
   background-color: #191637;
   color: rgba(148, 148, 255, 0.879);
}

/* class products-number */
header.felx .cart {
    position: relative;
}

header.felx .cart .products-number {
    position: absolute;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 2px 6px;
    background-color: rgb(237, 62, 62);
    border-radius: 50%;
    color: #fff;
    top:-10px;
    right: 0;
}

.scroll-down {
    position: fixed;
    right: 0;
    left: 0;
    background-color: var(--footerBG);
    color: #fff;
    z-index: 10;
    padding-bottom: 0.5rem;
    border-radius: 0 0 8px 8px;
}
/* ==================
        L o g o
=================== */

header.felx .logo .fa-bag-shopping {
    font-size: 2rem;
}
header.felx .logo .name {
    font-weight: bold;
}
/* ====================== */

@media (width < 600px ) {
    .logo {
        display: none;
    }

    header.felx {
        justify-content: center;
        padding-inline: 0;
    }

    .links {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 1rem;
    }
}
